{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "no-debugger": 0
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "Templates": true,
    "$": true,
    "jQuery": true,
    "Handlebars": true,
    "_": true,
    "moment": true
  }
}
