@import './ticket_sidebar.scss';

.spinner {
  background: transparent no-repeat center;
  display: block;
  margin: 15px auto;

  &.dotted {
    background-image: url('../images/spinner.gif');
    height: 11px;
  }
}
